/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 1em;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 1em;
}

form {
    margin: auto;
    padding: 1em;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 500px) {
    form {
        padding: 0;
    }
}

form p {
    margin: 1em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    form p {
        font-size: 0.75em;
    }
}

form input,
form textarea {
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 768px) {
    form input,
    form textarea {
        margin: 0.5em;
        padding: 0.5em;
    }
}

form input[type=submit] {
    color: white;
    background: black;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-size: 0.8em;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    font-size: 0.8em;
}

img.icon{  
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* Header and Footer */
#header, #footer{
    position: fixed;
    display: block;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
}
#header{
    top:0px;
}
#footer{
    bottom:0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 150px;
    margin: 1em;
} @media screen and (max-width: 500px) {
    #logo {
        width: 100px;
    }
}

#navbar {
    list-style: none;
    text-align: right;
    margin: 2em;
    line-height: 1.5;
    font-size: 1em;
} @media screen and (max-width: 500px) {
    #navbar {
        font-size: 0.8em;
    }
}
#navbar li.active {
	color: #dcbf6a;
}
#navbar li a {
    display: block;
	text-decoration: none;
	color: rgb(255, 255, 255);
}
#navbar li.active a:hover {
	color: #dcbf6a;
}
#navbar li:hover {
    color: #dcbf6a;
}
#navbar li.active a {
	color: #dcbf6a;
}

/* Section Globals */
.section,
.slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.heading-container {
    margin: auto;
    width: 25%;
}

.heading-container img {
    width: 100%;
}

/* Home SECTION */
#home .heading-container {
    padding-top: 25%;
    margin-right: 15%;
    min-width: 300px;
}
#home .heading-container img {
    max-width: 460px;
}
.webp #home {
    background-image: url('../images/webP/home.webp');
}
.no-webp #home {
    background-image: url('../images/home.png');
} @media only screen and (max-width: 500px) {
    .webp #home {
        background-position: top;
        background-image: url('../images/webP/home-vertical.webp');
    }
    .no-webp #home {
        background-position: top;
        background-image: url('../images/home-vertical.png');
    }
    #home .heading-container {
        margin: auto;
        padding: 1em;
        padding-bottom: 220px;
        padding-left: 75px;
    }

    #home .heading-container img {
        width: 70%;
    }
}

/* About SECTION */
.webp #about {
    background-image: url('../images/webP/about.webp');
}

.no-webp #about {
    background-image: url('../images/about.png');
}

.about-wrapper {
    margin-bottom: 15%;
    margin-left: 50%;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5em;
    text-align: left;
}

.about-text {
    border-radius: 10px;
    margin: auto;
    width: 50%;
}

.about-text img {
    width: 90%;
    max-width: 180px;
    display: block;
}

@media screen and (max-width: 500px) {
    .webp #about {
        background-image: url('../images/webP/about-vertical.webp');
    }

    .no-webp #about {
        background-image: url('../images/about-vertical.png');
    }

    .about-wrapper {
        margin: auto;
        padding-top: 50%;
        width: 100%;
    }

    .about-text {
        background-color: rgba(220, 191, 106, 0.75);
        margin: auto;
        padding: 2em;
        width: 70%;
        font-size: 1em;
        letter-spacing: 0.5px;
        line-height: 1.3em;
        text-shadow: 1px 1px 1px black;
    }

    .about-text img {
        width: 75%;
        display: none;
    }
}

/* Menu SECTION */
#menu .menu-wrapper {
    margin-right: 25%;
}
.webp #menu {
    background-image: url('../images/webP/menu.webp');
}
.no-webp #menu {
    background-image: url('../images/menu.png');
} @media screen and (max-width: 500px) {
    .webp #menu {
        background-image: url('../images/webP/menu-vertical.webp');
    }

    .no-webp #menu {
        background-image: url('../images/menu-vertical.png');
    }

    #menu .menu-wrapper {
        margin: auto;
        margin-top: 100px;
    }

    .menu-wrapper .heading-container {
        width: 45%;
    }
}

#menu-button {
    margin-top: 15px;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 10px 2%;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    border: none;
    background-color: #dcbf6a;
}

/* The Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .modal {
        padding-top: 70px;
    }

    .modal-content {
        width: 75%;
        min-height: 90%;
        height: 90%;
    }
}

.modal-content { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

#menu-mobile {
    display: none;
} @media screen and (max-width: 500px) {
    #menu-mobile {
        display: block;
    }

    #menu-web {
        display: none;
    }
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Franchising SECTION */
.webp #franchising {
    background-image: url('../images/webP/franchising.webp');
}

.no-webp #franchising {
    background-image: url('../images/franchising.png');
}

form#franchising-form {
    margin-right: 15%;
    width: 30%;
}

@media screen and (max-width: 500px) {
    .webp #franchising {
        background-image: url('../images/webP/franchising-vertical.webp');
    }

    .no-webp #franchising {
        background-image: url('../images/franchising-vertical.png');
    }

    form#franchising-form {
        margin: auto;
        margin-top: 120px;
        width: 90%;
    }
}

/* Gallery SECTION */
#gallery {
    padding: 0 !important;
}

.no-webp #slide1 { background-image: url('../images/gallery/web/galeri02.jpg'); }
.no-webp #slide2 { background-image: url('../images/gallery/web/galeri01.jpg'); }
.no-webp #slide3 { background-image: url('../images/gallery/web/galeri.jpg'); }
.no-webp #slide4 { background-image: url('../images/gallery/web/galeri03.jpg'); }
.no-webp #slide5 { background-image: url('../images/gallery/web/galeri04.jpg'); }
.no-webp #slide6 { background-image: url('../images/gallery/web/galeri05.jpg'); }
.no-webp #slide7 { background-image: url('../images/gallery/web/galeri06.jpg'); }
.no-webp #slide8 { background-image: url('../images/gallery/web/galeri07.jpg'); }
.no-webp #slide9 { background-image: url('../images/gallery/web/galeri08.jpg'); }
.no-webp #slide10 { background-image: url('../images/gallery/web/galeri09.jpg'); }
.no-webp #slide11 { background-image: url('../images/gallery/web/galeri10.jpg'); }
.no-webp #slide12 { background-image: url('../images/gallery/web/galeri11.jpg'); }
.no-webp #slide13 { background-image: url('../images/gallery/web/galeri12.jpg'); }

.webp #slide1 { background-image: url('../images/webP/gallery/web/galeri02.webp'); }
.webp #slide2 { background-image: url('../images/webP/gallery/web/galeri01.webp'); }
.webp #slide3 { background-image: url('../images/webP/gallery/web/galeri.webp'); }
.webp #slide4 { background-image: url('../images/webP/gallery/web/galeri03.webp'); }
.webp #slide5 { background-image: url('../images/webP/gallery/web/galeri04.webp'); }
.webp #slide6 { background-image: url('../images/webP/gallery/web/galeri05.webp'); }
.webp #slide7 { background-image: url('../images/webP/gallery/web/galeri06.webp'); }
.webp #slide8 { background-image: url('../images/webP/gallery/web/galeri07.webp'); }
.webp #slide9 { background-image: url('../images/webP/gallery/web/galeri08.webp'); }
.webp #slide10 { background-image: url('../images/webP/gallery/web/galeri09.webp'); }
.webp #slide11 { background-image: url('../images/webP/gallery/web/galeri10.webp'); }
.webp #slide12 { background-image: url('../images/webP/gallery/web/galeri11.webp'); }
.webp #slide13 { background-image: url('../images/webP/gallery/web/galeri12.webp'); }

@media screen and (max-width: 500px) {
    .no-webp #slide1 { background-image: url('../images/gallery/mobil/galeriMobil02.jpg'); }
    .no-webp #slide2 { background-image: url('../images/gallery/mobil/galeriMobil01.jpg'); }
    .no-webp #slide3 { background-image: url('../images/gallery/mobil/galeriMobil.jpg'); }
    .no-webp #slide4 { background-image: url('../images/gallery/mobil/galeriMobil03.jpg'); }
    .no-webp #slide5 { background-image: url('../images/gallery/mobil/galeriMobil04.jpg'); }
    .no-webp #slide6 { background-image: url('../images/gallery/mobil/galeriMobil05.jpg'); }
    .no-webp #slide7 { background-image: url('../images/gallery/mobil/galeriMobil06.jpg'); }
    .no-webp #slide8 { background-image: url('../images/gallery/mobil/galeriMobil07.jpg'); }
    .no-webp #slide9 { background-image: url('../images/gallery/mobil/galeriMobil08.jpg'); }
    .no-webp #slide10 { background-image: url('../images/gallery/mobil/galeriMobil09.jpg'); }
    .no-webp #slide11 { background-image: url('../images/gallery/mobil/galeriMobil10.jpg'); }
    .no-webp #slide12 { background-image: url('../images/gallery/mobil/galeriMobil11.jpg'); }
    .no-webp #slide13 { background-image: url('../images/gallery/mobil/galeriMobil12.jpg'); }

    .webp #slide1 { background-image: url('../images/webP/gallery/mobil/galeriMobil02.webp'); }
    .webp #slide2 { background-image: url('../images/webP/gallery/mobil/galeriMobil01.webp'); }
    .webp #slide3 { background-image: url('../images/webP/gallery/mobil/galeriMobil.webp'); }
    .webp #slide4 { background-image: url('../images/webP/gallery/mobil/galeriMobil03.webp'); }
    .webp #slide5 { background-image: url('../images/webP/gallery/mobil/galeriMobil04.webp'); }
    .webp #slide6 { background-image: url('../images/webP/gallery/mobil/galeriMobil05.webp'); }
    .webp #slide7 { background-image: url('../images/webP/gallery/mobil/galeriMobil06.webp'); }
    .webp #slide8 { background-image: url('../images/webP/gallery/mobil/galeriMobil07.webp'); }
    .webp #slide9 { background-image: url('../images/webP/gallery/mobil/galeriMobil08.webp'); }
    .webp #slide10 { background-image: url('../images/webP/gallery/mobil/galeriMobil09.webp'); }
    .webp #slide11 { background-image: url('../images/webP/gallery/mobil/galeriMobil10.webp'); }
    .webp #slide12 { background-image: url('../images/webP/gallery/mobil/galeriMobil11.webp'); }
    .webp #slide13 { background-image: url('../images/webP/gallery/mobil/galeriMobil12.webp'); }
}

.fp-controlArrow {
    opacity: 0.2 !important;
}

/* Career SECTION */
.webp #career {
    background-image: url('../images/webP/career.webp');
}

.no-webp #career {
    background-image: url('../images/career.png');
}

form#career-form {
    width: 30%;
    margin-left: 15%;
}

@media screen and (max-width: 768px) {
    .webp #career {
        background-image: url('../images/webP/career-vertical.webp');
    }

    .no-webp #career {
        background-image: url('../images/career-vertical.png');
    }

    form#career-form {
        margin: auto;
        margin-top: 120px;
        width: 90%;
    }
}

/* Contact SECTION */
.webp #contact {
    background-image: url('../images/webP/contact.webp');
}
.no-webp #contact {
    background-image: url('../images/contact.png');
} @media screen and (max-width: 500px) {
    .webp #contact {
        background-image: url('../images/webP/contact-vertical.webp');
    }

    .no-webp #contact {
        background-image: url('../images/contact-vertical.png');
    }
}

.contact-wrapper {
    margin: auto;
    width: 75%;
    padding: 1%;
    margin-top: 2em;
    text-align: left;
}

#contact-heading {
    min-width: 150px;
    width: 25%;
    margin-left: 12%;
} @media screen and (max-width: 768px) {
    #contact-heading {
        visibility: hidden;
    }
}

.contact-info {
    display: flex;
    flex-direction: row;
    margin: 1em;
    text-align: center;
}

#map {
    margin: auto;
    height: 400px;
    width: 50%;
}

.info {
    margin: auto;
    width: 50%;
}

.info p {
    font-size: 1.25em;
    line-height: 1.5;
}
#social-media { margin-top: 20px; }
#social-media a { margin: 10px; }

@media screen and (max-width: 768px) {
    .contact-wrapper {
        width: 100%;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
    }

    #map {
        width: 100%;
        height: 250px;
    }

    .info {
        margin: auto;
        width: 100%;
    }

    .info p {
        font-size: 1em;
        line-height: 1.5;
    }
}