body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.ticket {
    background-color: #00abbe;
    color: white;
    font-size: 1.2em;
}

.ticket-left {
    padding: 1em;
    padding-left: 5em; 
}

.ticket-right {
    padding: 1em;
    padding-right: 5em; 
}

.grid-wrapper {
    margin: auto;
    width: 100%;
    padding-left: 15%;
}

.chef-meyhane-info {
    width: 75%;
}

.chef-meyhane-menu {
    margin: auto;
    width: 75%;
}

.menu-item {
    min-width: 300px;
    max-width: 20%;
    border: none;
}

.gallery-image {
    border: none;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}


.social-link {
    text-decoration: none;
    color: #00abbe;
    padding-left: 5%;
}

.spacer {
    height: 150px;
}