html, body {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body.tr p[lang=en], 
body.tr h3[lang=en],
body.tr label[lang=en], 
body.tr button[lang=en], 
body.tr nav span[lang=en],
body.tr nav li[lang=en] {
    display: none;
}
body.en p[lang=tr],
body.en h3[lang=tr],
body.en label[lang=tr],
body.en button[lang=tr], 
body.en nav span[lang=tr],
body.en nav li[lang=tr] {
    display: none;
}

body {
    /*  background: url("../images/bg.png") no-repeat center;
    background-size: cover; */
    background: center no-repeat;
    background-color: #262262;
    background-size: cover;
    background-image: linear-gradient(140deg, rgba(255, 255, 255, 01) calc(50% - 10%), transparent 0), linear-gradient(-40deg, rgba(255, 255, 255, 01) calc(50% - 250px), transparent 0);
    color: #262262;
    font-size: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #565383;
    text-decoration: none;
    transition: 0.3s;
}

p {
    line-height: 1.5;
}

#navbar, 
#menu,
#social-links,
.hero-images,
.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar {
    align-items: baseline;
    margin-top: 68px;
}

.about-wrapper {
    margin: auto;
    height: 100%;
    padding-top: 25px;
}

#logo {
    text-align: left;
    padding-left: 5%;
}

#logo-image {
    height: 35px;
}

#menu {
    text-align: right;
}

.menu-item {
    padding-right: 5px;
}

.menu-item-link {
    color: white;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 100%;
}

#social-links {
    justify-content: center;
}

.social-link {
    color: #262262;
    padding: 0.4em;
}

.social-link:hover {
    opacity: 0.75;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.spacer {
    height: 25px;
}

.double-spacer {
    height: 100px;
}

.hidden {
    display: none;
}

.hero-image-wrapper {
    margin: auto;
    width: 30%;
    position: relative;
    /* box-shadow: -80px -80px #f4f0f0; */
}

.hero-image-shadow {
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: -1;
}

.hero-images {
    padding-top: 50px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.home-info {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.home-info-text {
    width: 40%;
    margin: auto;
    padding-left: 15%;
    padding-right: 5%;
    font-size: 0.9em;
    /* background-color: rgba(255, 255, 255, 0.75); */
}

.home-wrapper {
    padding-top: 5%;
}

.placer-for-50-50-grid {
    width: 50%;
}

.team-image-wrapper {
    margin: auto;
    width: 55%;
    box-shadow: -50px -50px #f4f0f0;
}

.team-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.info {
    color: white;
}

.info-1 {
    padding-right: 40%;
}

.info-2 {
    padding-right: 20px;
    padding-left: 40%;
    text-align: right;
    color: #262262;
}

.brands-wrapper {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.brand {
    text-align: center;
    background-color: #f4f0f0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    margin: 1% 2.5%;
    padding: 1%;
    transition: all 0.3s ease-in-out;
}

section {
    padding-top: 50px;
    min-height: 1100px;
    margin: auto;
    padding: 1em;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.brand-image {
    width: 65%;
    margin-top: -15%;
}

.brand-info {
    padding: 5% 15%;
}

.copyright-text {
    color: white;
    padding-left: 130px;
}

@media only screen and (min-width: 2060px) {
    body {
        background-image: linear-gradient(140deg, rgba(255, 255, 255, 01) calc(50% - 250px), transparent 0), linear-gradient(-40deg, rgba(255, 255, 255, 01) calc(50% - 15%), transparent 0);
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 2060px) {
    body {
        background-image: linear-gradient(140deg, rgba(255, 255, 255, 01) calc(50% - 10%), transparent 0), linear-gradient(-40deg, rgba(255, 255, 255, 01) calc(50% - 15%), transparent 0);
        font-size: 1em;
    }
}

@media only screen and (max-width: 1600px) {
    body {
        background-image: linear-gradient(140deg, rgba(255, 255, 255, 01) calc(40% - 10%), transparent 0), linear-gradient(-40deg, rgba(255, 255, 255, 01) calc(50% - 15%), transparent 0);
        font-size: 1em;
    }
    .info-1 {
        padding-right: 15%;
    }
    .info-2 {
        margin-top: 35px;
        padding-left: 15%;
    }
    .placer-for-50-50-grid {
        width: 0%;
    }
    .home-info-text {
        width: 100%;
        margin: auto;
        padding-left: 0;
        padding-right: 50%;
        color: #ffffff;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        background-image: linear-gradient(140deg, rgba(255, 255, 255, 01) calc(20%), transparent 0);
        font-size: 1em;
    }

    section {
        min-height: 0px;
    }

    .hero-images {
        padding-top: 50px;
    }

    .social-link {
        color: #ffffff;
    }

    .about-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .team-image-wrapper,
    .team-info-wrapper {
        width: 100%;
    }

    .placer-for-50-50-grid {
        width: 0%;
    }

    .team-image-wrapper {
        box-shadow: -20px -20px #f4f0f0;
    }

    .home-info-text {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        color: white;
    }

    .info-1 {
        margin-top: 0px;
        padding-top: 25px;
        padding-right: 0;
    }
    
    .info-2 {
        padding-right: 0;
        padding-left: 0;
        margin-top: 0px;
        padding-top: 25px;
        text-align: left;
        color: #ffffff;
    }
}

@media only screen and (max-width: 768px) {
    #navbar {
        margin: auto;
        padding-top: 5%;
        width: 100%;
    }

    .hero-images {
        padding-top: 50px;
    }

    .social-link {
        color: #ffffff;
    }
    
    #footer,
    .about-wrapper,
    .brands-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-image-wrapper,
    .team-info-wrapper {
        width: 100%;
    }

    .team-image-wrapper {
        box-shadow: -20px -20px #f4f0f0;
    }

    .home-info-text {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        color: white;
    }
    
    .placer-for-50-50-grid {
        width: 0%;
    }

    .copyright-text {
        padding-left: 0px;
        color: #ffffff;
    }

    body {
        background-image: linear-gradient(140deg, rgba(255, 255, 255, 01) calc(20%), transparent 0);
        font-size: 1em;
    }

    .info-1 {
        margin-top: 0px;
        padding-top: 25px;
        padding-right: 0;
    }
    
    .info-2 {
        padding-right: 0;
        padding-left: 0;
        margin-top: 0px;
        padding-top: 25px;
        text-align: left;
        color: #ffffff;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-image: linear-gradient(140deg, rgba(255, 255, 255, 01) calc(15%), transparent 0);
    }

    .hero-images {
        padding-top: 25px;
    }
    
    #logo-image {
        height: 25px;
    }
}