html, body {
    min-height: 100%;
    position:relative;
    font-family: 'Montserrat', sans-serif;
}

body.tr p[lang=en], 
body.tr h3[lang=en], 
body.tr #menu span[lang=en],
body.tr #menu li[lang=en] {
    display: none;
}
body.en p[lang=tr],
body.en h3[lang=tr],
body.en #menu span[lang=tr],
body.en #menu li[lang=tr] {
    display: none;
}

body {
    background-image: url("../images/bg2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #262262;
    font-size: 0.75em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #565383;
    text-decoration: none;
    transition: 0.3s;
}

p {
    line-height: 1.5;
}

#navbar, 
#menu,
#footer,
#social-links,
.hero-images,
.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar {
    margin-top: 5%;
}

.about-wrapper {
    margin: auto;
}

#logo {
    padding-left: 5%;
}

#menu {
    padding-right: 2%;
}

.menu-item {
    padding-right: 5px;
}

.menu-item-link {
    color: white;
}

#footer {
    margin: auto;
    margin-top: 10%;
    width: 80%;
    position:absolute;
    bottom:0;
    right: 0;
    left: 0;
    height:60px;
}

#social-links {
    justify-content: center;
}

.social-link {
    color: #262262;
    padding: 0.4em;
}

.social-link:hover {
    opacity: 0.75;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.spacer {
    height: 25px;
}

.double-spacer {
    height: 100px;
}

main {
    padding-bottom: 60px;
}

section {
    margin: auto;
    padding-top: 10%;
    width: 85%;
    min-height: 700px;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

.hero-image-wrapper {
    margin: auto;
    width: 30%;
    max-width: 300px;
    box-shadow: -40px -40px #f4f0f0;
}

@media only screen and (max-width: 768px) {
    .hero-image-wrapper {
        box-shadow: -20px -20px #f4f0f0;
    }
}

@media only screen and (min-width: 1500px) {
    .hero-image-wrapper {
        max-width: 400px;
    }
}

.hero-images {
    width: 100%;
    margin: auto;
}

.home-info {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.home-info-text {
    width: 40%;
    margin: auto;
    padding-left: 15%;
    padding-right: 5%;
    font-size: 0.9em;
    /* background-color: rgba(255, 255, 255, 0.75); */
}

.placer-for-50-50-grid {
    width: 50%;
}

.team-image-wrapper {
    margin: auto;
    width: 55%;
    box-shadow: -50px -50px #f4f0f0;
}

.team-info-wrapper {
    width: 40%;
}

.info {
    color: white;
}

.info-1 {
    margin-top: 30%;
    padding-right: 100px;
}

.info-2 {
    padding-right: 20px;
    padding-left: 100px;
    margin-top: 30%;
    text-align: right;
    color: #262262;
}

.brands-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.brand {
    text-align: center;
    background-color: #f4f0f0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    margin: 1% 2.5%;
    padding: 1%;
    transition: all 0.3s ease-in-out;
}

.brand-image {
    width: 65%;
    margin-top: -15%;
}

.brand-info {
    padding: 30px 50px;
    font-size: 1.1em;
}

.copyright-text {
    color: white;
}

@media only screen and (max-width: 800px) {
    #navbar {
        margin: auto;
        padding-top: 5%;
        width: 100%;
    }
    
    #logo {
        padding-left: 75px;
    }
    
    #menu {
        padding-right: 25px;
    }

    #footer {
        color: #262262;
    }
    
    #footer,
    .about-wrapper,
    .brands-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-image-wrapper,
    .team-info-wrapper {
        width: 100%;
    }

    .home-info-text {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        color: white;
    }
    
    .placer-for-50-50-grid {
        width: 0%;
    }

    .copyright-text {
        color: #262262;
    }
}