.contact-wrapper {
	width: 60%;
	margin: auto;
	background-color: #e1e1e1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 5%;
}

.success {
    text-align: center;
    padding: 5%;
    background-color: rgba(0,255,0,0.3);
    margin-bottom: 20px;
}

.error {
    text-align: center;
    padding: 5%;
    background-color: rgba(255,0,0,0.3);
    margin-bottom: 20px;
}

#contact-form {
	margin: auto;
	width: 90%;
	text-align: center;
}

#contact-form p {
	font-size: 1.2em;
}

label {
	text-align: left;
	text-transform: uppercase;
}

.form-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	border: medium none !important;
	margin: 0 0 10px;
	padding: 0;
	min-width: 100%;
	width: 100%;
}

@media only screen and (max-width: 1024px) {
	#contact-form {
		width: 90%;
	}
	.contact-wrapper {
		width: 100%;
	}

	.form-group {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	#contact-form p {
		font-size: 1em;
	}
}

#contact-form input[type="text"], 
#contact-form input[type="email"], 
#contact-form input[type="tel"], 
#contact-form input[type="url"], 
#contact-form textarea {
	border:1px solid #CCC;
	background:#FFF;
	padding: 1em;
}

#contact-form input[type="text"]:hover, 
#contact-form input[type="email"]:hover, 
#contact-form input[type="tel"]:hover, 
#contact-form input[type="url"]:hover, 
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-o-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact-form textarea {
	height: 100px;
	max-width: 100%;
}

#contact-form button[type="submit"] {
	cursor:pointer;
	border:none;
	background:#262262;
	color:#FFF;
	padding: 10px;
	font-size: 15px;
	margin: auto;
	margin-top: 20px;
}

#contact-form button[type="submit"]:hover {
	background:#262262;
	-webkit-transition:background 0.3s ease-in-out;
	-webkit-transition:background-color 0.3s ease-in-out;
	-o-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active { 
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
	        box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

#contact-form input:focus, #contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}