* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1em;
}

button {
    font-family: inherit;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.8em;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.label {
    margin: 50px 0%;
}

.label-text {
    color: white;
    padding: 1em;
    font-size: 1.2em;
    background-color: #00abbe;
}

.label-text-left {
    padding-left: 7%;
}

.label-text-right {
    padding-right: 7%;
}

.label-right {
    text-align: right;
}

.label-left {
    text-align: left;
}

/* Navigation */

.nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
}

#toggle {
    display: none;
}

.hidden {
    display: none;
}

.nav-wrapper ul li:last-child .navbar-link,
ul#mobile-navbar li:last-child .navbar-link {
    color: black;
}

.logo {
    margin: 1em;
}

.logo-image {
    width: 75%;
}

.navbar-item {
    margin: 1em;
    display: inline-block;
}

#mobile-navbar {
    width: 100%;
    display: none;
    padding: 1em;
}

#mobile-navbar .mobile-navbar-item {
    text-align: center;
    padding: 0.5em;
}

.navbar-link {
    color: #00abbe;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .nav-wrapper {
        padding: 0;
        align-items: center;
    }

    .logo-image {
        width: 40%;
    }

    .navbar {
        display: none;
    }

    #toggle {
        display: block;
        cursor: pointer;
        margin: 1em;
        margin-right: 5%;
        color: #00abbe;
    }
}

/* Header, Slider, Headlines */
.carousel__frame {
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.carousel__slides {
    display: block;
}

.carousel__item {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    margin-bottom: -10px;
}

.carousel__prev, .carousel__next {
    font-size: 1rem;
    position: absolute;
    top: 50%;
}

.carousel__prev {
    left: 2rem;
}

.carousel__next {
    right: 2rem;
}

button.carousel__button:focus {
    outline: none;
}

button.carousel__button {
    background: rgba(0,0,0,0);
    border: none;
    color: #fff;
    cursor: pointer;
}

.headline-item {
    text-align: center;
}

.title {
    background-color: #00abbe;
    color: white;
    font-family: 'Kaushan Script', cursive;
    padding: 3% 0%;
    font-weight: 400;
    letter-spacing: 0.15em;
    font-size: 2.5em;
}

.subtitle {
    margin: 25px 10%;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1.25em;
    }

    .subtitle {
        font-size: 1em;
        text-align: left;
    }
}

/* MAIN */
/* Concept Section */
.concept-wrapper {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
}

#concept-first {
    width: 40%;
    margin: 1em;
}

#concept-second {
    width: 60%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#concept-second-first,
#concept-second-second {
    flex: 2;
}

.concept-image-container {
    text-align: center;
    width: 100%;
}

.concept-image {
    width: 100%;
}

.concept-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.concept-info-text {
    line-height: 1.75em;
    font-size: 1em;
}

@media screen and (max-width: 1000px) {
    .concept-info-text {
        font-size: 1em;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    #concept-first {
        width: 0%;
        margin: 0;
    }

    #concept-second {
        width: 100%;
        margin: 1em;
    }

    .concept-info {
        margin-top: 10px;
        display: block;
    }
}

/* Menu Section */

.menu-heading {
    color: #00abbe;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
}

.menu-tab-navigation {
    margin: auto;
    text-align: center;
}

.menu-tab-navigation-item {
    display: inline-block;
    margin: 1em;
}

.menu-tab-navigation-item-link {
    border: none;
    color: #00abbe;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2em;
    background: none;
}

.menu-tab-navigation-item button.active,
.menu-tab-navigation-item button:hover {
    border-bottom: 2px solid #00abbe;
}

.menu-tab-content {
    margin: auto;
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-item {
    width: 25%;
    min-width: 300px;
    padding: 1em;
    font-size: 0.75em;
}

@media screen and (max-width: 768px) {
    .menu-item  {
        font-size: 1em;
    }
}

#fix-menu-info {
    background: url('../images/button-bg.png') no-repeat center;
    background-size: contain;
    height: 250px;
    width: 250px;
    color: white;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

#fix-menu-info:hover {
    opacity: 0.75;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* Reservation Section */

.reservation-info {
    text-align: center;
    color: #00abbe;
    margin: 5% 0%;
}

/* About Section */

#about {
    text-align: center;
}

.brand-logos {
    margin: auto;
    width: 50%;
} 
@media screen and (max-width: 768px) {
    .brand-logos {
        width: 90%;
    }

    .reservation-info {
        margin: 10% 0%;
    }
}

.main-brand {
    margin: 1em;
}

.main-brand-image {
    width: 90%;
    max-width: 405px;
}

.sub-brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-brand {
    margin: 1em;
    flex: 2;
}

.sub-brand-image {
    max-width: 173px;
    width: 100%;
}

.brand-info {
    margin: auto;
    padding: 1em;
    width: 75%;
}

@media screen and (max-width: 768px) {
    .brand-info {
        text-align: left;
    }
}

a.brand-link,
a.brand-link:visited,
a.brand-link:link:active, 
a.brand-link:visited:active {
    color: #262262;
    font-weight: 600;
    font-size: 1.2em;
}

#gallery {
    margin-top: 5%;
    text-align: center;
}

.gallery-image {
    display: inline-block;
    width: 25%;
    margin: 0.5em;
    min-width: 300px;
}

/* Contact Section */
.contact-wrapper {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
}

.google-maps-widget,
.contact-info {
    flex: 3;
}

.contact-info {
    padding-left: 5%;
    letter-spacing: 0.05em;
}

.contact-info p {
    margin: 1em;
}

.social-links {
    text-align: left;
    margin: 10%;
}

@media screen and (max-width: 768px) {
    .contact-info {
        padding: 0%;
        margin: 10% 0%;
    }

    .social-links {
        text-align: center;
        margin: 0%;
        margin-top: 20px;
    }

    .contact-info p {
        margin: 0;
    }
}

.social-link {
    margin: 1em;
    color: #00abbe;
}

.social-link:hover {
    margin: 1em;
    color: #52e9fa;
    transition: 0.3ms all ease-in-out;
}

#address {
    font-weight: 600;
}

/* Footer */
footer {
    margin-top: 15%;
    position: relative;
}

.footer-text {
    text-align: center;
    margin: 1em;
}

#back-to-top {
    position: absolute;
    right: 0;
    margin-right: 10%;
    padding: 15px;
    padding-bottom: 50px;
    color: white;
    background-color: #00abbe;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 768px) {
    footer {
        margin-top: 5%;
    }
}