* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.label {
    margin: 50px 0%;
}

.label-text {
    color: white;
    padding: 1em;
    font-size: 1.2em;
    background-color: #00abbe;
}

.label-text-left {
    padding-left: 7%;
}

.label-text-right {
    padding-right: 7%;
}

.label-right {
    text-align: right;
}

.label-left {
    text-align: left;
}

/* Navigation */

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
}

.toggle {
    display: none;
}

nav ul li:last-child .navbar-link {
    color: black;
}

.logo {
    margin: 1em;
}

.logo-image {
    width: 75%;
}

.navbar-item {
    display: inline-block;
}

.navbar-item {
    margin: 1em;
}

.navbar-link {
    color: #00abbe;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .logo-image {
        width: 50%;
    }

    .navbar {
        display: none;
    }

    .toggle {
        display: block;
        cursor: pointer;
        margin: 1em;
        color: #00abbe;
    }
}

/* Header, Slider, Headlines */
.carousel__frame {
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.carousel__slides {
    display: block;
}

.carousel__item {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

.carousel__prev, .carousel__next {
    font-size: 1rem;
    position: absolute;
    top: 50%;
}

.carousel__prev {
    left: 2rem;
}

.carousel__next {
    right: 2rem;
}

button.carousel__button:focus {
    outline: none;
}

button.carousel__button {
    background: rgba(0,0,0,0);
    border: none;
    color: #fff;
}

.headline-item {
    text-align: center;
}

.title {
    background-color: #00abbe;
    color: white;
    font-family: 'Macondo', cursive;
    font-size: 2em;
    padding: 1% 0%;
}

.subtitle {
    margin: 50px 10%;
    font-size: 1.2em;
}

/* MAIN */
/* Concept Section */

.concept-wrapper {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
}

#concept-first {
    flex: 2;
    margin: 1em;
}

#concept-second {
    flex: 2;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

#concept-second-first,
#concept-second-second {
    flex: 2;
}

.concept-image-container {
    text-align: center;
}

.concept-image {
    width: 100%;
}

.concept-info-text {
    line-height: 1.5;
    font-size: 1em;
}

/* Menu Section */

.menu-heading {
    color: #00abbe;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
}

.menu-tab-navigation {
    margin: auto;
    text-align: center;
}

.menu-tab-navigation-item {
    display: inline-block;
    margin: 1em;
}

.menu-tab-navigation a {
    color: #00abbe;
    font-weight: 600;
}

.menu-tab-navigation a:hover {
    border-bottom: 2px solid #00abbe;
}

.hidden {
    display: none;
}

.menu-tab-content {
    margin: auto;
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-item {
    width: 25%;
    min-width: 300px;
    padding: 1em;
}

.fix-menu-info {
    text-align: center;
    color: #00abbe;
}

/* Reservation Section */

.reservation-info {
    text-align: center;
    color: #00abbe;
}

/* About Section */

#about {
    text-align: center;
}

.brand-logos {
    margin: auto;
    width: 50%;
} 
@media screen and (max-width: 768px) {
    .brand-logos {
        width: 90%;
    }
}

.main-brand {
    margin: 1em;
}

.main-brand-image {
    width: 100%;
    max-width: 405px;
}

.sub-brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-brand {
    margin: 1em;
    flex: 2;
}

.sub-brand-image {
    max-width: 173px;
    width: 100%;
}

.brand-info {
    margin: auto;
    padding: 1em;
    width: 75%;
}

.brand-link {
    color: #262262;
    font-weight: 600;
    font-size: 1.2em;
}

#gallery {
    margin-top: 5%;
    text-align: center;
}

.gallery-image {
    display: inline-block;
    width: 25%;
    margin: 0.5em;
    min-width: 300px;
}

/* Contact Section */
.contact-wrapper {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
}

.google-maps-widget,
.contact-info {
    flex: 3;
}

.contact-info {
    padding-left: 5%;
}

.contact-info p {
    margin: 1em;
}

.social-link {
    margin: 1em;
    color: #00abbe;
}

#address {
    font-weight: 600;
}

/* Footer */
footer {
    margin-top: 15%;
}

.footer-text {
    text-align: center;
    margin: 1em;
}